:host {
  display: block;
}
mat-toolbar-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > div {
    display: flex;
    align-items: center;
  }
}
mat-drawer-content {
  padding: 1rem;
}
mat-drawer-container {
  height: calc(100vh - 64px);
  mat-drawer {
    width: 220px;
  }
}
