:host {
  display: block;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: calc(100vh - 64px);
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
